body
{	
	text-align: center;	
	padding: 15px;
}

/* Add padding to every element in body */
body *
{
	padding: 5px;
}

.main
{
	background-color: rgb(205, 62, 90);
	border: 25px transparent solid;
	border-radius: 75px;
}
button
{
	background-color: #35e63e;
}
button:hover
{
	background-color: #19a620;
}

#kitten1
{
	/* Hide the image */
	display: none;
	
	/* Center the image in body */
	margin-left:  auto;
	margin-right: auto;
	
	/* Round the image */
	border: 5px transparent solid;
	border-radius: 15px;
}